<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
    <title>Nuevo Titulo</title>
</head>
<body>
    <div class="container p-4">
        <form method="POST" target="/new-entry" class="card card-body">
            <div class="form-group">
                    <label for="tittle">Titulo: </label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Ingresar el Título" autofocus required>
            </div>
            <div class="form-group">
                    <label for="author">Autor: </label>
                    <input type="text" class="form-control" name="author" id="author" placeholder="Ingresar el Autor"  required>
            </div>
            <div class="form-group">
                    <label for="image">Imagen: </label>
                    <input type="text" class="form-control" name="image" id="image" placeholder="http://www.imagen.com/img"  required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea name="description" id="description" rows="2" class="form-control" placeholder="Ingrese Descripcion breve" required></textarea>
            </div>
            <input type="button" value="Guardar Libro" class="btn btn-primary">
        </form>
    </div>
    
</body>
</html>